<html>
	<style type="text/css">
		body{
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		background-color:#646464
		}
	</style>
	<head>
		<title>CSI solar</title>
	</head>
	<body>
		<script>
			function returnWidth() {
				var x = screen.width;
			}
		</script>
		<div style="width:returnWidth();height:100px;background-color:#000;"></div>
		<br>
		<div style="width:returnWidth();height:200px;background-color:#C8C8C8;"></div>
		<div style="width:returnWidth();height:450px;background-color:#FCFCFC;">
			<p> User Login</p>
		</div>
		<div style="width:returnWidth();height:200;background-color:#C8C8C8;"></div>
	</body>
</html>