
<script>
//Script to make nice fadout effect


$(function() {
$('#page').hide();
  $('#page').fadeIn();
    $("#log").click(function(event){
        event.preventDefault();
        $('#page').animate({opacity:0},500, function(){
        $('form').submit();
        });
    });
    });

</script>

<title>Volunteer Dashboard | Login</title>
<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div id="page">
<section id="login">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
              <img src="">
                <h1>Formal Signup Automater</h1>
                <h2>Login</h2>
                    <form role="form" action='/loginauth' method='POST' id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" id="userName" name='username' class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" id="password" name="password"  class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Show password</span>
                        </div>
                        <input id="log" type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block btn-primary" value="Log in">
                    </form>
                    <hr>
              </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Thomas Hudson- 2016</p>
            </div>
        </div>
    </div>
</footer>

</div>


<!-- <form action='/loginauth' method='POST'>
  <label>Username</label><input type="text" id="userName" name='username'>
  <label>Password<input type="password" id="password" name="password" />
  <a href='/dash'><button type="submit" class="btn-submit">Submit</button></a>
</form> -->


<!-- CSS -->
<style>
/*    --------------------------------------------------
  :: Login Section
  -------------------------------------------------- */
#login {
    padding-top: 50px;
    text-align: center;
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1,#login h2 {
    /*color: #1fa67b;*/
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom:-15px;
}
#login h2 {
    font-size: 14px;
    padding-bottom: 20px;
    margin-bottom:0;

}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    /*color: #1fa67b;*/
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
  margin-bottom: 20px;
}
.checkbox{
  text-align: left;
}
#login .forget {
    font-size: 13px;
  text-align: center;
  display: block;
}

/*    --------------------------------------------------
  :: Inputs & Buttons
  -------------------------------------------------- */
.form-control {
    /*color: #212121;*/
}
.btn-custom {
    /*color: #fff;*/
  /*background-color: #1fa67b;*/
}
.btn-custom:hover,
.btn-custom:focus {
    /*color: #fff;*/
}

/*    --------------------------------------------------
    :: Footer
  -------------------------------------------------- */
#footer {
    /*color: #6d6d6d;*/
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}
</style>










<script>
function showPassword() {
    
    var key_attr = $('#password').attr('type');
    
    if(key_attr != 'text') {
        
        $('.checkbox').addClass('show');
        $('#password').attr('type', 'text');
        
    } else {
        
        $('.checkbox').removeClass('show');
        $('#password').attr('type', 'password');
        
    }
    
}
</script>