
  #loader {
	background-color: white;
	opacity: 0.95;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	height: 100%;
	width: 100%;
  }

  #loader div {
	position: absolute;
	top: 30%;
	left: 45%;
  }

  #loader div p {
	padding-top: 150px;
	padding-left: 40px;
	color: black;
	font-size: 18px;
  }

  .spinner {
	width: 40px;
	height: 40px;
	background-color: #7E317B;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
	0% {
	  -webkit-transform: perspective(120px);
	}

	50% {
	  -webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
	  -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
  }

  @keyframes sk-rotateplane {
	0% {
	  transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	  -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
	  transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	  -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
	  transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	  -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
  }